<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>PatientLogin</servlet-name>
        <servlet-class>PatientLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelectHospitalServlet</servlet-name>
        <servlet-class>SelectHospitalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <servlet-class>BookAppointmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAppointments</servlet-name>
        <servlet-class>ShowAppointments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatientProfile</servlet-name>
        <servlet-class>PatientProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DoctorProfile</servlet-name>
        <servlet-class>DoctorProfile</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientLogin</servlet-name>
        <url-pattern>/PatientLogin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientRegister</servlet-name>
        <servlet-class>PatientRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientRegister</servlet-name>
        <url-pattern>/PatientRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoctorRegister</servlet-name>
        <servlet-class>DoctorRegister</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorRegister</servlet-name>
        <url-pattern>/DoctorRegister</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PatientHome</servlet-name>
        <servlet-class>PatientHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PatientHome</servlet-name>
        <url-pattern>/PatientHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DoctorHome</servlet-name>
        <servlet-class>DoctorHome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DoctorHome</servlet-name>
        <url-pattern>/DoctorHome</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DisplayDoctors</servlet-name>
        <servlet-class>DisplayDoctors</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DisplayDoctors</servlet-name>
        <url-pattern>/DisplayDoctors</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelectHospitalServlet</servlet-name>
        <url-pattern>/SelectHospitalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookAppointmentServlet</servlet-name>
        <url-pattern>/BookAppointmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAppointments</servlet-name>
        <url-pattern>/ShowAppointments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatientProfile</servlet-name>
        <url-pattern>/PatientProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DoctorProfile</servlet-name>
        <url-pattern>/DoctorProfile</url-pattern>
    </servlet-mapping>
</web-app>
